// Here you can add other styles

.cursor-pointer {
  cursor: pointer;
}

.middle-align {
  vertical-align: middle;
}

.table-header-color {
  background-color: var(--cui-dark-bg-subtle) !important;
}

.select-color {
  background-color: var(--cui-dark-bg-subtle) !important;
  color: var(--cui-text-default) !important;
}